body{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    background-image: url(/weather-snow.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.title1{
    color: #fff;
    font-size: 90px;
}
.title{
    color: #fff;
    font-size: 30px;
}
.res-box{
    margin-left: 300px;
    width: 700px !important;
    margin-top: 150px !important;
    background-color: aliceblue;
    padding-top: 50px;
}
.container{
    margin-top: 100px;
}
.name{
    font-size: 35px;
}
.icon-container{
    position: relative;
}

.icon{
    position: absolute;
    width: 150px;
    background-color: aliceblue;
    border-radius: 50%;
    top: -180px;
    left: 270px;
}